<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <script src="https://kit.fontawesome.com/132aaebcee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<div class="container">
    <form action="#" id="form">
        <h1>Login</h1>
        <div class="input-control">
            <i class="fa-solid fa-user"></i>
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            <div class="error"></div>
        </div>
        <div class="input-control">
            <i class="fa-solid fa-unlock"></i>
            <label for="pass">Password</label>
            <input type="password" id="pass" name="pass">
            <div class="error"></div>
        </div>
        <p>Do not have an account? <a href="/HTML/register.html">Register Here!</a></p>
        <button id='login'>Login</button>
    </form>
    <script src="/Form-validation-scripts/login.js"></script>
</div>

<body>

</body>

</html>